<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-applinks-ka" version="1.2.0">
    <name>Applinks</name>
    <description>Applinks</description>
    <license></license>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Applinks">
                <param name="ios-package" value="Applinks"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <header-file src="src/ios/Applinks.h" />
        <source-file src="src/ios/Applinks.m" />
        <header-file src="src/ios/AppDelegate+Applinks.h" />
        <source-file src="src/ios/AppDelegate+Applinks.m" />

    </platform>
</plugin>